language: rust
sudo: true

addons:
    apt:
        packages:
            - libcurl4-openssl-dev
            - libelf-dev
            - libdw=dev
rust:
    - nightly
before_script:
    - |
        pip install 'travis-cargo<0.2' --user &&
        export PATH=$HOME/.local/bin:$PATH
script:
    - |
        travis-cargo build &&
        travis-cargo test &&
        travis-cargo bench
after_success:
    - travis-cargo coveralls

env:
    global:
        - TRAVIS_CARGO_NIGHTLY_FEATURE=nightly
